/*PEN STYLES*/

.blog-card {
    display: -webkit-box;
    margin: 1rem auto;
    box-shadow: 0 4px 9px -1px rgba(113, 113, 97, 0.571);
    margin-bottom: 3%;
    background: none;
    border-radius: 35px 0px 0px 35px;
    border-color: red;
    border-width: 2ch;
    overflow: hidden;
    z-index: 0;
}

.blog-card a {
    color: inherit;
    text-decoration: none;
}

.blog-card a:hover {
    color: #34d254;
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: auto;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    -webkit-transition: left .2s;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}

.blog-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}

.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags li:first-child {
    margin-left: -4px;
}

.blog-card .description {
    position: relative;
    padding: 1rem;
    background: #fff 1;
}

.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
    opacity: 1;
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    opacity: 1;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #050f69;
    margin-top: 5px;
    opacity: 1;
}

.blog-card .description .read-more {
    text-align: center;
    color: green;
}

.blog-card p {
    position: relative;
    font-size: 1.2rem;
    margin: 1rem 0 0;
}

@media (min-width: 640px) {
    .blog-card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        max-width: 70%;
        height: auto;
    }
}